# Maxfiy ma'lumotlar
.env

# Ma'lumotlar bazasi (Agar SQLite ishlatsangiz)
db.sqlite3

# Python virtual muhiti
myenv
__pycache__/
*.pyc

# IDE/Editor fayllari (agar kerak bo'lsa)
.idea/
.vscode/

# Media fayllari (Serverda ishlatilmaydi yoki S3/Cloudinaryda saqlanadi)
media/

# Statik fayllar (collectstatic natijasi)
staticfiles/