{% load static %}

{% if question.answer_format == 'single' %}
<div class="space-y-2" data-format="single">
    {% for option, letter in options_with_letters %}
        {% with is_selected=user_answer and option.id in selected_option_ids %}
        <div class="option-item flex items-center p-3 rounded-lg border cursor-pointer transition duration-150 ease-in-out 
            {% if is_selected %}selected{% endif %}"
            data-option-id="{{ option.id }}" data-option="{{ letter }}">
            
            <input type="radio" name="option" value="{{ option.id }}" 
                {% if is_selected %}checked{% endif %} 
                class="hidden option-input-radio"> 
            
            <div class="option-indicator w-9 h-9 mr-3 flex items-center justify-center rounded-full border-1 
                {% if is_selected %}bg-black border-white text-white{% else %}bg-white border-gray-400 text-gray-400{% endif %}">
                <span class="option-letter">{{ letter }}</span>
            </div>

            <span class="text-base option-text block w-full 
                {% if is_selected %}text-white{% else %}text-gray-400{% endif %}">
                {{ option.text|safe }}
            </span>
        </div>
        {% endwith %}
    {% endfor %}
</div>

{% elif question.answer_format == 'multiple' %}
<div class="space-y-2" data-format="multiple">
    {% for option, letter in options_with_letters %}
    {% with is_selected=user_answer and option.id in selected_option_ids %}
    <div class="option-item flex items-center p-3 rounded-lg border cursor-pointer transition duration-150 ease-in-out 
        {% if is_selected %}selected{% endif %}"
        data-option-id="{{ option.id }}" data-option="{{ letter }}">
        
        <input type="checkbox" name="option" value="{{ option.id }}" 
            {% if is_selected %}checked{% endif %} 
            class="hidden option-input-checkbox">
        
        <div class="option-indicator w-9 h-9 mr-3 flex items-center justify-center border-1 rounded-md
            {% if is_selected %}bg-black border-white text-white{% else %}bg-white border-gray-400 text-gray-400{% endif %}">
            <span class="option-letter">{{ letter }}</span>
        </div>
        
        <span class="text-base option-text block w-full
            {% if is_selected %}text-white{% else %}text-gray-400{% endif %}">
            {{ option.text|safe }}
        </span>
    </div>
    {% endwith %}
    {% endfor %}
</div>

{% elif question.answer_format == 'short_answer' %}
<div class="mt-4" data-format="short_answer">
    <input type="text" id="short-answer-input" name="short_answer" 
           class="w-full max-w-lg p-3 border-2 border-slate-300 rounded-lg text-lg focus:ring-indigo-500 focus:border-indigo-500 transition" 
           placeholder="Javobingizni kiriting..." 
           value="{{ short_answer_text|default_if_none:'' }}"
           autocomplete="off">
</div>
{% endif %}